<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>StakeHolder Viewoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>StakeHolder Viewoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3d302c5c-2236-4f24-8ee8-ebe414ba48dc.png" alt="StakeHolder Viewoint" usemap="#3d302c5c-2236-4f24-8ee8-ebe414ba48dcmap"/>
			   <map name="3d302c5c-2236-4f24-8ee8-ebe414ba48dcmap">
				  		<area shape="rect" coords="13,10,322,65" href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html"  target="element">
				  		<area shape="rect" coords="13,118,181,173" href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html"  target="element">
				  		<area shape="rect" coords="202,118,322,173" href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html"  target="element">
				  		<area shape="rect" coords="886,10,1006,65" href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html"  target="element">
				  		<area shape="rect" coords="634,64,754,119" href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html"  target="element">
				  		<area shape="rect" coords="10,242,130,297" href="../elements/f8b02f3d-14f2-4ac7-86c0-3c70225a1a23.html"  target="element">
				  		<area shape="rect" coords="10,350,130,405" href="../elements/b4d87fee-a335-463c-ac3d-e6230f0f3292.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
											    <td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
											    <td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element"> Public Servants </a> </td>
											    <td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html" target="element"> Canadian Citizens </a> </td>
											    <td> <a href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html" target="element"> Business Owners </a> </td>
											    <td> <a href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8b02f3d-14f2-4ac7-86c0-3c70225a1a23.html" target="element"> Government Policy </a> </td>
											    <td> <a href="../elements/f8b02f3d-14f2-4ac7-86c0-3c70225a1a23.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b4d87fee-a335-463c-ac3d-e6230f0f3292.html" target="element"> Digital Principles </a> </td>
											    <td> <a href="../elements/b4d87fee-a335-463c-ac3d-e6230f0f3292.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e633d0c7-b9dd-4137-b637-892618427fb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/e633d0c7-b9dd-4137-b637-892618427fb9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
																		<td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a92e014d-6e29-4e06-b879-76738222f9d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/a92e014d-6e29-4e06-b879-76738222f9d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
																		<td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element"> Public Servants </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bb9803bf-cd37-4b0d-b984-6a98d51926a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/bb9803bf-cd37-4b0d-b984-6a98d51926a8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
																		<td> <a href="../elements/f8b02f3d-14f2-4ac7-86c0-3c70225a1a23.html" target="element"> Government Policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e5adf10-d610-4246-98ea-6fbc715105bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e5adf10-d610-4246-98ea-6fbc715105bf.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/f8b02f3d-14f2-4ac7-86c0-3c70225a1a23.html" target="element"> Government Policy </a> </td>
																		<td> <a href="../elements/b4d87fee-a335-463c-ac3d-e6230f0f3292.html" target="element"> Digital Principles </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>