<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Open Source Software Standard</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Open Source Software Standard</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8ebdd3c2-fbaa-4ae0-b286-0a488d195167.png" alt="Open Source Software Standard" usemap="#8ebdd3c2-fbaa-4ae0-b286-0a488d195167map"/>
			   <map name="8ebdd3c2-fbaa-4ae0-b286-0a488d195167map">
				  		<area shape="rect" coords="10,352,167,407" href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html"  target="element">
				  				<area shape="rect" coords="28,580,185,635" href="../elements/ed7386c0-c47c-4ac1-8567-301953828b6e.html"  target="element">

				  		<area shape="rect" coords="16,556,197,653" href="../elements/518cc30c-f7e3-478b-b6b6-8bd16eae7d55.html"  target="element">
				  				<area shape="rect" coords="28,250,185,305" href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html"  target="element">
				  				<area shape="rect" coords="256,250,413,305" href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html"  target="element">

				  		<area shape="rect" coords="16,226,425,323" href="../elements/861db336-50f4-462e-8373-0702403a36c7.html"  target="element">
				  		<area shape="rect" coords="16,448,425,503" href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html"  target="element">
				  				<area shape="rect" coords="256,592,413,647" href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html"  target="element">
				  				<area shape="rect" coords="256,652,413,707" href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html"  target="element">

				  		<area shape="rect" coords="244,556,425,725" href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html"  target="element">
				  				<area shape="rect" coords="550,523,804,548" href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html"  target="element">
				  				<area shape="rect" coords="550,499,804,524" href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html"  target="element">
				  				<area shape="rect" coords="550,547,804,584" href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html"  target="element">
				  				<area shape="rect" coords="550,583,804,608" href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html"  target="element">
				  				<area shape="rect" coords="550,631,804,656" href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html"  target="element">
				  				<area shape="rect" coords="550,679,804,704" href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html"  target="element">
				  				<area shape="rect" coords="550,655,804,680" href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html"  target="element">
				  				<area shape="rect" coords="550,607,804,632" href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html"  target="element">
				  				<area shape="rect" coords="550,475,804,500" href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html"  target="element">
				  				<area shape="rect" coords="550,703,804,740" href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html"  target="element">

				  		<area shape="rect" coords="526,451,838,761" href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html"  target="element">
				  				<area shape="rect" coords="35,28,192,83" href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html"  target="element">
				  				<area shape="rect" coords="251,94,408,149" href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html"  target="element">
				  				<area shape="rect" coords="35,94,192,149" href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html"  target="element">

				  		<area shape="rect" coords="11,10,426,161" href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html"  target="element">
				  				<area shape="rect" coords="545,76,809,101" href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html"  target="element">
				  				<area shape="rect" coords="545,124,809,149" href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html"  target="element">
				  				<area shape="rect" coords="545,100,810,125" href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html"  target="element">

				  		<area shape="rect" coords="521,52,833,167" href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html"  target="element">
				  		<area shape="rect" coords="521,352,838,407" href="../elements/5a364d99-82f5-4162-9f5f-ff3e59542af5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Motivational view of what the Open Source Standard is trying to create</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
											    <td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/518cc30c-f7e3-478b-b6b6-8bd16eae7d55.html" target="element"> Principles </a> </td>
											    <td> <a href="../elements/518cc30c-f7e3-478b-b6b6-8bd16eae7d55.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ed7386c0-c47c-4ac1-8567-301953828b6e.html" target="element"> Where Appropriate and Where Possible  </a> </td>
													    <td> <a href="../elements/ed7386c0-c47c-4ac1-8567-301953828b6e.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element"> Goals </a> </td>
											    <td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element"> Contribute to OSS </a> </td>
													    <td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element"> Release source code under Open Source Software licences </a> </td>
													    <td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
											    <td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element"> Requirements </a> </td>
											    <td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
													    <td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
													    <td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
											    <td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html" target="element"> Complies with Digital Principles </a> </td>
													    <td> <a href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html" target="element"> Business Requirements </a> </td>
													    <td> <a href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html" target="element"> The Use of International or Canadian Standards  </a> </td>
													    <td> <a href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html" target="element"> Flexibility of the License  </a> </td>
													    <td> <a href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html" target="element"> Ability to use for any Purpose  </a> </td>
													    <td> <a href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html" target="element"> The Ability to Evaluate the Code  </a> </td>
													    <td> <a href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html" target="element"> The Alignment with Open Government </a> </td>
													    <td> <a href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html" target="element"> The Ability to Distribute the Software  </a> </td>
													    <td> <a href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
													    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
													    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element"> Drivers </a> </td>
											    <td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
													    <td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
													    <td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Use open standards and solutions  </a> </td>
													    <td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element"> Stakeholder </a> </td>
											    <td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
													    <td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element"> Public Servants </a> </td>
													    <td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
													    <td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5a364d99-82f5-4162-9f5f-ff3e59542af5.html" target="element"> Develop standards </a> </td>
											    <td> <a href="../elements/5a364d99-82f5-4162-9f5f-ff3e59542af5.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/49ef096b-bb7c-4f60-a7f7-e4ec7518e251.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/49ef096b-bb7c-4f60-a7f7-e4ec7518e251.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/518cc30c-f7e3-478b-b6b6-8bd16eae7d55.html" target="element"> Principles </a> </td>
																		<td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/86175e4e-018b-4eeb-8c9f-fca38f42c275.html" target="element">  </a> </td>
																		<td> <a href="../elements/86175e4e-018b-4eeb-8c9f-fca38f42c275.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/518cc30c-f7e3-478b-b6b6-8bd16eae7d55.html" target="element"> Principles </a> </td>
																		<td> <a href="../elements/ed7386c0-c47c-4ac1-8567-301953828b6e.html" target="element"> Where Appropriate and Where Possible  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/d3020d75-076d-4956-b07f-b7e8fce011e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3020d75-076d-4956-b07f-b7e8fce011e0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element"> Goals </a> </td>
																		<td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element"> Contribute to OSS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4101832a-b3f0-4070-a899-e063bd5b555f.html" target="element">  </a> </td>
																		<td> <a href="../elements/4101832a-b3f0-4070-a899-e063bd5b555f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element"> Goals </a> </td>
																		<td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element"> Release source code under Open Source Software licences </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c8921ee-a621-4d86-b3c5-5b9d8e671ce5.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/6c8921ee-a621-4d86-b3c5-5b9d8e671ce5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element"> Goals </a> </td>
																		<td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb1e2389-fa8a-48e1-a117-21adc65e06ad.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/fb1e2389-fa8a-48e1-a117-21adc65e06ad.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element"> Goals </a> </td>
																		<td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element"> Drivers </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/c36e09eb-7116-4ad2-a34c-bfd5eab7d2a3.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/c36e09eb-7116-4ad2-a34c-bfd5eab7d2a3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
																		<td> <a href="../elements/861db336-50f4-462e-8373-0702403a36c7.html" target="element"> Goals </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/da3478b3-5110-4f78-8f65-28dc8e5a13f4.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/da3478b3-5110-4f78-8f65-28dc8e5a13f4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
																		<td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/21e8fccf-4aeb-45bc-af29-1fc25aa7b157.html" target="element">  </a> </td>
																		<td> <a href="../elements/21e8fccf-4aeb-45bc-af29-1fc25aa7b157.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element"> Requirements </a> </td>
																		<td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/86717df4-9f32-4c52-9f19-6935eb7650c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/86717df4-9f32-4c52-9f19-6935eb7650c3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element"> Requirements </a> </td>
																		<td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e8c186ee-8146-4db6-801b-c28ec4d12368.html" target="element">  </a> </td>
																		<td> <a href="../elements/e8c186ee-8146-4db6-801b-c28ec4d12368.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element"> Requirements </a> </td>
																		<td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8b4cf31c-0efe-4494-bf76-ed86a14aa88a.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/8b4cf31c-0efe-4494-bf76-ed86a14aa88a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element"> Requirements </a> </td>
																		<td> <a href="../elements/518cc30c-f7e3-478b-b6b6-8bd16eae7d55.html" target="element"> Principles </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/359759ac-c676-4b6c-9040-9ca4aa7256a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/359759ac-c676-4b6c-9040-9ca4aa7256a0.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html" target="element"> Complies with Digital Principles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c5a21a9f-a88d-4da5-afdd-9ea31d5ceb9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5a21a9f-a88d-4da5-afdd-9ea31d5ceb9a.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html" target="element"> Business Requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ce794a8d-e150-489c-a965-9c565e383cb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce794a8d-e150-489c-a965-9c565e383cb8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html" target="element"> The Use of International or Canadian Standards  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89b702eb-fd5f-4deb-8401-eca6ba38a72e.html" target="element">  </a> </td>
																		<td> <a href="../elements/89b702eb-fd5f-4deb-8401-eca6ba38a72e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html" target="element"> Flexibility of the License  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/09f1230c-80e6-45f3-be0f-0db1498357a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/09f1230c-80e6-45f3-be0f-0db1498357a6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html" target="element"> Ability to use for any Purpose  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d32d0486-8de2-4a68-9e76-3408d812fc30.html" target="element">  </a> </td>
																		<td> <a href="../elements/d32d0486-8de2-4a68-9e76-3408d812fc30.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html" target="element"> The Ability to Evaluate the Code  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f095fc1-d65c-4ac7-8b28-1c143d11457b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f095fc1-d65c-4ac7-8b28-1c143d11457b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html" target="element"> The Alignment with Open Government </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04c21140-5ed0-401b-894f-1cb2d6ed6a33.html" target="element">  </a> </td>
																		<td> <a href="../elements/04c21140-5ed0-401b-894f-1cb2d6ed6a33.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html" target="element"> The Ability to Distribute the Software  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/32d4dfc9-a17c-4b1c-a207-06274f1375b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/32d4dfc9-a17c-4b1c-a207-06274f1375b6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cff6d1c6-a33b-470b-a82c-fa8d01c16b0e.html" target="element"> Realizes </a> </td>
																		<td> <a href="../elements/cff6d1c6-a33b-470b-a82c-fa8d01c16b0e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e06bf27d-a126-40a5-96ba-8f6a676881c9.html" target="element"> Specializes </a> </td>
																		<td> <a href="../elements/e06bf27d-a126-40a5-96ba-8f6a676881c9.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/57464700-47c0-4fb6-9004-ef190ca45e67.html" target="element"> Requirements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b4b5e2a1-685d-4f80-8b90-a8f34b440094.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4b5e2a1-685d-4f80-8b90-a8f34b440094.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/3fd0d0fd-5183-48e0-aaa7-d746e2656e5d.html" target="element"> Constraints </a> </td>
																		<td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/83edd759-0d36-4edf-92df-28523d83d7fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/83edd759-0d36-4edf-92df-28523d83d7fc.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element"> Drivers </a> </td>
																		<td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae401587-a791-41e5-932d-02df561e44f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae401587-a791-41e5-932d-02df561e44f5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element"> Drivers </a> </td>
																		<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e969289d-016f-42a7-a4f4-a9cb02a7f5e5.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/e969289d-016f-42a7-a4f4-a9cb02a7f5e5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element"> Drivers </a> </td>
																		<td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element"> Stakeholder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7df181b9-3bac-4585-8b31-bf8b835f40ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/7df181b9-3bac-4585-8b31-bf8b835f40ff.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/419b8650-e155-4386-9fbe-8c3659a4f88d.html" target="element"> Drivers </a> </td>
																		<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Use open standards and solutions  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/adc9e3bc-ddee-41a4-a342-05c64d4643ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/adc9e3bc-ddee-41a4-a342-05c64d4643ea.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element"> Stakeholder </a> </td>
																		<td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6777fe5e-c122-4be8-b455-39dc3311e355.html" target="element">  </a> </td>
																		<td> <a href="../elements/6777fe5e-c122-4be8-b455-39dc3311e355.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element"> Stakeholder </a> </td>
																		<td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element"> Public Servants </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2f2e104e-1b57-4f53-b75b-e0466e892154.html" target="element">  </a> </td>
																		<td> <a href="../elements/2f2e104e-1b57-4f53-b75b-e0466e892154.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element"> Stakeholder </a> </td>
																		<td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd687e91-cd7b-4507-8ea2-ff0c9c5d115c.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/fd687e91-cd7b-4507-8ea2-ff0c9c5d115c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/dbef24a1-597a-433b-aa0c-36babd20fb70.html" target="element"> Stakeholder </a> </td>
																		<td> <a href="../elements/5a364d99-82f5-4162-9f5f-ff3e59542af5.html" target="element"> Develop standards </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/4798affd-f483-4d64-a17a-b17851776a84.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/4798affd-f483-4d64-a17a-b17851776a84.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/5a364d99-82f5-4162-9f5f-ff3e59542af5.html" target="element"> Develop standards </a> </td>
																		<td> <a href="../elements/5f14361d-d299-4f2a-8240-65ee2f1b1cb4.html" target="element"> Develop an Open Source Software Standard  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>