<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Open Standards </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Open Standards </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bf972dbd-3da7-4185-8b40-17437596e854.png" alt="Open Standards " usemap="#bf972dbd-3da7-4185-8b40-17437596e854map"/>
			   <map name="bf972dbd-3da7-4185-8b40-17437596e854map">
				  		<area shape="rect" coords="1186,586,1440,611" href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html"  target="element">
				  		<area shape="rect" coords="958,526,1092,659" href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html"  target="element">
				  		<area shape="rect" coords="898,214,1103,239" href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html"  target="element">
				  		<area shape="rect" coords="1186,562,1440,587" href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html"  target="element">
				  		<area shape="rect" coords="898,10,1103,65" href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html"  target="element">
				  		<area shape="rect" coords="898,110,1103,165" href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html"  target="element">
				  		<area shape="rect" coords="958,682,1092,809" href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html"  target="element">
				  		<area shape="rect" coords="1186,610,1440,647" href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html"  target="element">
				  		<area shape="rect" coords="1438,760,1558,815" href="../elements/9700459d-80f4-42cc-ad77-482e3a8c4c0b.html"  target="element">
				  		<area shape="rect" coords="1186,682,1440,713" href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html"  target="element">
				  		<area shape="rect" coords="1186,736,1440,761" href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html"  target="element">
				  		<area shape="rect" coords="1186,784,1440,809" href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html"  target="element">
				  		<area shape="rect" coords="1186,760,1440,785" href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html"  target="element">
				  		<area shape="rect" coords="1186,712,1440,737" href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html"  target="element">
				  		<area shape="rect" coords="1138,10,1319,65" href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html"  target="element">
				  		<area shape="rect" coords="1138,130,1319,185" href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html"  target="element">
				  		<area shape="rect" coords="1138,268,1319,341" href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html"  target="element">
				  		<area shape="rect" coords="1354,130,1703,185" href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html"  target="element">
				  		<area shape="rect" coords="1186,538,1440,563" href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html"  target="element">
				  		<area shape="rect" coords="957,430,1091,515" href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html"  target="element">
				  		<area shape="rect" coords="1185,430,1439,503" href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html"  target="element">
				  				<area shape="rect" coords="34,370,154,425" href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html"  target="element">
				  				<area shape="rect" coords="34,130,202,185" href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html"  target="element">
				  				<area shape="rect" coords="406,377,599,425" href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html"  target="element">
				  				<area shape="rect" coords="34,250,154,305" href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html"  target="element">
				  				<area shape="rect" coords="406,322,599,371" href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html"  target="element">
				  				<area shape="rect" coords="406,130,563,185" href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html"  target="element">
				  				<area shape="rect" coords="226,130,359,425" href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html"  target="element">
				  				<area shape="rect" coords="34,310,154,365" href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html"  target="element">
				  				<area shape="rect" coords="34,190,179,245" href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html"  target="element">
				  				<area shape="rect" coords="406,190,683,245" href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html"  target="element">
				  				<area shape="rect" coords="406,262,599,311" href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html"  target="element">
				  				<area shape="rect" coords="226,46,647,101" href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html"  target="element">

				          <area shape="rect" coords="10,22,886,455" href="../objects/60c6a4e8-013b-4e3d-af35-d86a7194e5c6.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html" target="element"> Complies with Digital Principles </a> </td>
											    <td> <a href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
											    <td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
											    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html" target="element"> Business Requirements </a> </td>
											    <td> <a href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html" target="element"> Directive on Policy on the Planning and Management of Investments </a> </td>
											    <td> <a href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
											    <td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
											    <td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html" target="element"> The Use of International or Canadian Standards  </a> </td>
											    <td> <a href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9700459d-80f4-42cc-ad77-482e3a8c4c0b.html" target="element"> Princip[les </a> </td>
											    <td> <a href="../elements/9700459d-80f4-42cc-ad77-482e3a8c4c0b.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html" target="element"> Flexibility of the License  </a> </td>
											    <td> <a href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html" target="element"> Ability to use for any Purpose  </a> </td>
											    <td> <a href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html" target="element"> The Ability to Evaluate the Code  </a> </td>
											    <td> <a href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html" target="element"> The Alignment with Open Government </a> </td>
											    <td> <a href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html" target="element"> The Ability to Distribute the Software  </a> </td>
											    <td> <a href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html" target="element"> Directive on Management of Information Technology </a> </td>
											    <td> <a href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
											    <td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
											    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html" target="element"> C.2.3.8.1 Use open standards and open source software first </a> </td>
											    <td> <a href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
											    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html" target="element"> Where Appropriate and Where Possible  </a> </td>
											    <td> <a href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
											    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/60c6a4e8-013b-4e3d-af35-d86a7194e5c6.html" target="element"> Standard In a nut Shell </a> </td>
									           <td> <a href="../objects/60c6a4e8-013b-4e3d-af35-d86a7194e5c6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html" target="element"> Business Owners </a> </td>
													    <td> <a href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
													    <td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
													    <td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element"> Public Servants </a> </td>
													    <td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html" target="element"> Where Appropriate and Where Possible  </a> </td>
													    <td> <a href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element"> Contribute to OSS </a> </td>
													    <td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
													    <td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html" target="element"> Canadian Citizens </a> </td>
													    <td> <a href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
													    <td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element"> Release source code under Open Source Software licences </a> </td>
													    <td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
													    <td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
													    <td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d2de4422-ad43-4a38-9686-b40af37195a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2de4422-ad43-4a38-9686-b40af37195a1.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/036c7ca4-0d0e-408f-8c70-36a0b46ddab1.html" target="element"> Complies with Digital Principles </a> </td>
																		<td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1b2a1d0f-5380-4c40-b0ff-bdaeed74a348.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b2a1d0f-5380-4c40-b0ff-bdaeed74a348.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/cc248455-aedd-49fb-aafa-9702c5a57cb5.html" target="element"> Business Requirements </a> </td>
																		<td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a3c25035-58fd-47c9-b5c7-2410aa245fc4.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/a3c25035-58fd-47c9-b5c7-2410aa245fc4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html" target="element"> Directive on Policy on the Planning and Management of Investments </a> </td>
																		<td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fe6c0c7b-0f1e-4a28-b405-607ef7e12587.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe6c0c7b-0f1e-4a28-b405-607ef7e12587.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
																		<td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ba5dfda4-7f37-4c06-82c5-5ad1e68c5b4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba5dfda4-7f37-4c06-82c5-5ad1e68c5b4a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/017ba257-a665-4086-93b9-383a43d9abf9.html" target="element"> The Use of International or Canadian Standards  </a> </td>
																		<td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ee552e1e-7693-4923-955a-02e2acc7f1fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee552e1e-7693-4923-955a-02e2acc7f1fa.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/368de115-887b-49f2-824c-2bd6a63f8b78.html" target="element"> Flexibility of the License  </a> </td>
																		<td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9fe78461-382e-4b8c-ba51-4d94b3db8b41.html" target="element">  </a> </td>
																		<td> <a href="../elements/9fe78461-382e-4b8c-ba51-4d94b3db8b41.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/6018a5a2-95d0-4aa8-a7bb-de3dd027a2f2.html" target="element"> Ability to use for any Purpose  </a> </td>
																		<td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/156279b5-ba16-4ce6-bd83-145159d75033.html" target="element">  </a> </td>
																		<td> <a href="../elements/156279b5-ba16-4ce6-bd83-145159d75033.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/3c2e60ea-a922-46c7-9e10-574ee84d97a5.html" target="element"> The Ability to Evaluate the Code  </a> </td>
																		<td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d6203996-99fc-4fdc-950f-b0f40da5de0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d6203996-99fc-4fdc-950f-b0f40da5de0c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/342a4cfc-d73e-4fd9-95ce-af63196faf63.html" target="element"> The Alignment with Open Government </a> </td>
																		<td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c8ab799e-220e-4f1c-813b-d5eb8d06c23a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8ab799e-220e-4f1c-813b-d5eb8d06c23a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/1acdf08d-97f7-49ce-913f-00ae661bbd22.html" target="element"> The Ability to Distribute the Software  </a> </td>
																		<td> <a href="../elements/b7140d49-47a5-48c8-acf5-fab1b4f0606e.html" target="element"> Evaluate Requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0c53d244-2792-4f95-80d5-aeee7bd9745d.html" target="element"> Associated </a> </td>
																		<td> <a href="../elements/0c53d244-2792-4f95-80d5-aeee7bd9745d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html" target="element"> Directive on Management of Information Technology </a> </td>
																		<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/02cabf27-3f63-485b-a20e-6dc9a81fdb7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/02cabf27-3f63-485b-a20e-6dc9a81fdb7c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																		<td> <a href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html" target="element"> C.2.3.8.1 Use open standards and open source software first </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/924ff8c0-65be-4924-aac3-d6aa5abd0280.html" target="element">  </a> </td>
																		<td> <a href="../elements/924ff8c0-65be-4924-aac3-d6aa5abd0280.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																		<td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/771571d6-e167-4b75-9d40-26b546fe9e1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/771571d6-e167-4b75-9d40-26b546fe9e1e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
																		<td> <a href="../elements/13502aa7-ebe0-4bf8-9178-56c14dc12624.html" target="element"> Define Concept Case &amp; Business Requirement First </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9ffcfbae-5b21-4108-adc9-b45eb98af6b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ffcfbae-5b21-4108-adc9-b45eb98af6b2.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
																		<td> <a href="../elements/011e30b5-db3a-4f3a-806c-21ee77bae39c.html" target="element"> Where Appropriate and Where Possible  </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/970580ff-b5c4-4f77-966a-1b34789b8f6c.html" target="element">  </a> </td>
																				<td> <a href="../elements/970580ff-b5c4-4f77-966a-1b34789b8f6c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/c44b47fa-611a-4060-94a7-86edf65a6f6e.html" target="element"> Business Owners </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/693393f4-dca2-4438-b010-ba734583753e.html" target="element">  </a> </td>
																				<td> <a href="../elements/693393f4-dca2-4438-b010-ba734583753e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/072d50c3-37b7-437e-8b81-7833042a23c3.html" target="element"> Government of Canada (GC) </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/73e11255-79b6-4666-adb0-0c3bc1a6f4cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/73e11255-79b6-4666-adb0-0c3bc1a6f4cb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/75138264-69dd-414d-b141-a64a53c7fa93.html" target="element"> Public Servants </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a02255ee-b8bc-40a0-a2e3-d9f9d9d82cb6.html" target="element">  </a> </td>
																				<td> <a href="../elements/a02255ee-b8bc-40a0-a2e3-d9f9d9d82cb6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																				<td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element"> Release source code under Open Source Software licences </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7dcfd1b2-5b1c-4ac7-a20f-02604b65bdea.html" target="element">  </a> </td>
																				<td> <a href="../elements/7dcfd1b2-5b1c-4ac7-a20f-02604b65bdea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																				<td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element"> Contribute to OSS </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3f7ff9c8-5f3d-4740-8b42-1c15e885782f.html" target="element">  </a> </td>
																				<td> <a href="../elements/3f7ff9c8-5f3d-4740-8b42-1c15e885782f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/b585de19-bc1a-4a72-be2c-5d79ba4de1db.html" target="element"> Canadian Citizens </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0be81af3-7ce9-4423-995d-ebc924d5a139.html" target="element">  </a> </td>
																				<td> <a href="../elements/0be81af3-7ce9-4423-995d-ebc924d5a139.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/a48b242e-9cb7-4446-9294-cb013bd88a1f.html" target="element"> Departments and Agencies </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/147034ed-2327-4043-aaab-eb7899361266.html" target="element">  </a> </td>
																				<td> <a href="../elements/147034ed-2327-4043-aaab-eb7899361266.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Digital Government </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/308b14a1-4389-4d56-bde0-7632570d1618.html" target="element">  </a> </td>
																				<td> <a href="../elements/308b14a1-4389-4d56-bde0-7632570d1618.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
																				<td> <a href="../elements/9c534ce2-d566-4e02-86ac-0c0d77d277a5.html" target="element"> Contribute to OSS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/56efc363-7c21-4837-ba69-907bf6d36c1b.html" target="element">  </a> </td>
																				<td> <a href="../elements/56efc363-7c21-4837-ba69-907bf6d36c1b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/ea6a4b15-1570-4b7e-9a09-9e2590a0f9d3.html" target="element"> Increased use of Open Source Software in the GC </a> </td>
																				<td> <a href="../elements/2ddf5826-f4fe-4336-ae50-961382a96bb3.html" target="element"> Release source code under Open Source Software licences </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>