<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>TBS Policies</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>TBS Policies</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f4eca5a0-3c63-41d6-8d06-c0dbeb747f79.png" alt="TBS Policies" usemap="#f4eca5a0-3c63-41d6-8d06-c0dbeb747f79map"/>
			   <map name="f4eca5a0-3c63-41d6-8d06-c0dbeb747f79map">
				  				<area shape="rect" coords="514,46,719,101" href="../elements/6ddf8773-898b-43b3-b63a-1453bf2a1fb9.html"  target="element">
				  				<area shape="rect" coords="22,146,227,201" href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html"  target="element">
				  				<area shape="rect" coords="286,146,479,255" href="../elements/c1565724-3a6d-4680-8baa-96275b064c44.html"  target="element">
				  				<area shape="rect" coords="755,146,936,290" href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html"  target="element">
				  				<area shape="rect" coords="971,158,1152,219" href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html"  target="element">
				  				<area shape="rect" coords="22,46,227,101" href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html"  target="element">
				  				<area shape="rect" coords="514,146,719,201" href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html"  target="element">
				  				<area shape="rect" coords="971,235,1152,315" href="../elements/a2e46ff4-4826-4eaa-b421-dd74ac50876b.html"  target="element">
				  				<area shape="rect" coords="755,46,936,101" href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html"  target="element">

				          <area shape="rect" coords="10,10,1175,335" href="../objects/9d741539-4f01-43ef-aa5f-d46e77700595.html" target="element" >
				  				<area shape="rect" coords="515,418,936,459" href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html"  target="element">
				  				<area shape="rect" coords="22,418,227,443" href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html"  target="element">

				          <area shape="rect" coords="11,370,1175,502" href="../objects/be366141-6b38-433f-8a64-e8869c9af9e1.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Overview of what TBS policies are helping influence the standard</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/9d741539-4f01-43ef-aa5f-d46e77700595.html" target="element"> Established GC Policies </a> </td>
									           <td> <a href="../objects/9d741539-4f01-43ef-aa5f-d46e77700595.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/6ddf8773-898b-43b3-b63a-1453bf2a1fb9.html" target="element"> Government of Canada Digital Standards </a> </td>
													    <td> <a href="../elements/6ddf8773-898b-43b3-b63a-1453bf2a1fb9.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
													    <td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1565724-3a6d-4680-8baa-96275b064c44.html" target="element"> Leverage open standards and embrace leading practices, including the use of open source software where appropriate </a> </td>
													    <td> <a href="../elements/c1565724-3a6d-4680-8baa-96275b064c44.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
													    <td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html" target="element"> C.2.3.8.1 Use open standards and open source software first </a> </td>
													    <td> <a href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html" target="element"> Directive on Policy on the Planning and Management of Investments </a> </td>
													    <td> <a href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Use open standards and solutions  </a> </td>
													    <td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a2e46ff4-4826-4eaa-b421-dd74ac50876b.html" target="element"> D.2.2.1.4.2 Leveraging open source tools and frameworks to implement the API where possible. </a> </td>
													    <td> <a href="../elements/a2e46ff4-4826-4eaa-b421-dd74ac50876b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html" target="element"> Directive on Management of Information Technology </a> </td>
													    <td> <a href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/be366141-6b38-433f-8a64-e8869c9af9e1.html" target="element"> Open Source Software Standard </a> </td>
									           <td> <a href="../objects/be366141-6b38-433f-8a64-e8869c9af9e1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
													    <td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
													    <td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/92e9a1e6-ea87-4eab-955f-8312e466a598.html" target="element"> Associated </a> </td>
																				<td> <a href="../elements/92e9a1e6-ea87-4eab-955f-8312e466a598.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6ddf8773-898b-43b3-b63a-1453bf2a1fb9.html" target="element"> Government of Canada Digital Standards </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Use open standards and solutions  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/fe6c0c7b-0f1e-4a28-b405-607ef7e12587.html" target="element"> Influences </a> </td>
																				<td> <a href="../elements/fe6c0c7b-0f1e-4a28-b405-607ef7e12587.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
																				<td> <a href="../elements/f63e8be0-db09-4e5f-b9c9-379663a9cda7.html" target="element"> Concept Case </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/cb1f5ff8-f2ed-488d-b44f-c0e05c40b76b.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb1f5ff8-f2ed-488d-b44f-c0e05c40b76b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/c1565724-3a6d-4680-8baa-96275b064c44.html" target="element"> Leverage open standards and embrace leading practices, including the use of open source software where appropriate </a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Use open standards and solutions  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/02cabf27-3f63-485b-a20e-6dc9a81fdb7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/02cabf27-3f63-485b-a20e-6dc9a81fdb7c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																				<td> <a href="../elements/85fede06-312f-43af-a1f4-f440618835c8.html" target="element"> C.2.3.8.1 Use open standards and open source software first </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/924ff8c0-65be-4924-aac3-d6aa5abd0280.html" target="element"> Influences </a> </td>
																				<td> <a href="../elements/924ff8c0-65be-4924-aac3-d6aa5abd0280.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																				<td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d74148d3-e79a-4406-afef-843116afad9a.html" target="element">  </a> </td>
																				<td> <a href="../elements/d74148d3-e79a-4406-afef-843116afad9a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																				<td> <a href="../elements/a2e46ff4-4826-4eaa-b421-dd74ac50876b.html" target="element"> D.2.2.1.4.2 Leveraging open source tools and frameworks to implement the API where possible. </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a3c25035-58fd-47c9-b5c7-2410aa245fc4.html" target="element"> Associated </a> </td>
																				<td> <a href="../elements/a3c25035-58fd-47c9-b5c7-2410aa245fc4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/194f459a-11e5-4604-b253-3bf2f782972d.html" target="element"> Directive on Policy on the Planning and Management of Investments </a> </td>
																				<td> <a href="../elements/9f159c5b-456c-40b2-9485-41c03d8351bd.html" target="element"> Mandatory Procedures for Concept Cases for Digital Projects </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/077b4645-fda7-45a2-9810-521573aa2e40.html" target="element"> Influences </a> </td>
																				<td> <a href="../elements/077b4645-fda7-45a2-9810-521573aa2e40.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/b066b6d6-407e-431d-b30d-ad3e162a64f7.html" target="element"> Use open standards and solutions  </a> </td>
																				<td> <a href="../elements/3026e0e6-4bfc-40b6-b719-6f09ee3e69a0.html" target="element"> Use open standards and open software first </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0c53d244-2792-4f95-80d5-aeee7bd9745d.html" target="element"> Associated </a> </td>
																				<td> <a href="../elements/0c53d244-2792-4f95-80d5-aeee7bd9745d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/1f0e4acf-7170-416e-b5ca-3fa9babc918d.html" target="element"> Directive on Management of Information Technology </a> </td>
																				<td> <a href="../elements/fe12ac81-58f9-485d-9ebe-719668662807.html" target="element"> Mandatory Procedures for Enterprise Architecture Assessment </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>